.services__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

}

.service{
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    height: fit-content;
    transition: var(--transition);
    border: 1px solid var(--color-primary);
}

.service:hover{
    background: transparent;
    cursor: default;
    border-color: var(--color-primary-variant);
}

.service__head{
    background-color: var(--color-primary);
    border-radius: 0 0 2rem 2rem;
    padding: 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service{
    height: 60vh;
}
.service__head h3{
    color: var(--color-bg);
    text-align: center;
    font-size: 1rem;
}

.service__list{
    padding: 2rem;

}

.service__list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon{
    color: var(--color-primary);
    margin-top: 5px;
}

.service__list p{
    font-size: 0.9rem;
    text-align: center;

}

/* MEdia Qyeries ( MEdium aka tablets )  */

@media screen and (max-width:1024px){
    .services__container{
        grid-template-columns: 1fr;
        gap: 2rem;
        
    }

    .service{
        height: auto;
    }
   
}

/* MEdia Queries ( small devices )  */

@media screen and (max-width:600px){
    .services__container{
        gap: 1.5rem;
    }
    
}